body{
	background: url('../images/chalkboard.jpg');
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	width: 100vw;
	color: white;
}
.red{
	color: red;
}
.green{
	color: green;
}
.blue{
	color: blue;
}
